<div class="container">
  <!-- No data message -->
  <p *ngIf="Alarm.length <= 0" class="no-data text-center">There is no alarm created yet!</p>

  

  <!-- Alarm list -->
  <div class="modal-body row">
    <div class="col-md-6">
      <div *ngFor="let al of Alarm" class="alert" [ngClass]="getAlarmClasses(al)"  role="alert">
       
        <div class="row">
          <div class="col-md-5">
            Name : {{al.name}}
          </div>
          <div class="col-md-7">
            {{al.time | date:'medium'}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 badge badge-pill badge-danger mt-3">
            {{al.status}}
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6 wrapper">
      <!-- Your second column here -->
      <button type="button" class="btn btn-danger btn-circle btn-xl" [class.spinner]="loading" [disabled]="loading" (click)="onCreateAlarm()">Send Alarm</button>
    </div>
  </div>
 
</div>